@{ ViewData["Title"] = "Home Page"; }

<body onload="onLoad();">
    <div class="text-center">
        <h1 class="display-4" id="title">Filler Home Page</h1>
        <a href="./Login">Login</a>
        <br /><br />
        <a href="./Create">Create Account</a>
    </div>

</body>
