@{ ViewData["Title"] = "Home Page"; }

<body>
    <div class="container" id="homePage-section1">
        <div class="row">
            <div class="col-6">
                <img src="/img/img1.jpg" class="rounded mx-auto d-block">
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="container">
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <a role="button" class="btn btn-light active" asp-controller="Home" asp-action="NewItinerary">Start a new itinerary</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="homePage-section2">
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <h3>Feature 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                        <h3>Feature 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                        <h3>Feature 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="/img/img2.jpg" class="rounded mx-auto d-block">
            </div>
        </div>
    </div>

</body>
