@{ ViewData["Title"] = "Main"; }

<body onload="onLoad();">
    <div class="text-center">
        <h1 class="display-4" id="title">Welcome</h1>
        <button id="logOut" style="color: darkred;" onclick="logOut();">Log Out</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>

</body>
